<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Prateek Kumar Sharma" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Resume</title>
</head>

<body>
    <header>
        <section>
            <img src="https://exchange4media.gumlet.io/news-photo/120216-main5.jpg?w=400&dpr=2.6" height="150"
                alt="FNP LOGO">
            <h1> Prateek Kumar Sharma</h1>
            <h3>Email:- <a href="mailto:prateeksharma0112@gmail.com"> Prateeksharma0112@gmail.com </a>|| Contact No:- <a
                    href="tel:+917838773840">+91-783-877-3840 </a> || Address:- C-15, Kiran Garden, New Delhi, India
            </h3>
        </section>
    </header>
    <hr>
    <main>
        <section>
            <h3>Education </h3>
            <table>
                <thead>
                    <tr>
                        <th>Course Of Study </th>
                        <th>Year of Passing </th>
                        <th> School/College </th>
                        <th> Percentage/CGPA </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>B-Tech (CSE) </td>
                        <td> 2018-22</td>
                        <td> GGSIPU </td>
                        <td> 9.0 </td>
                    </tr>
                    <tr>
                        <td>Class-XII</td>
                        <td> 2017</td>
                        <td> Kendriya Vidyalaya</td>
                        <td> 60%</td>
                    </tr>
                    <tr>
                        <td> Class-X</td>
                        <td> 2015</td>
                        <td> Kendriya Vidyalaya</td>
                        <td> 8.4</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <hr>
        <div>
            <h3>Skills Summary</h3>
            <ul>
                <li>Languages : C++, JavaScript, HTML, CSS </li>
                <li>Tools : WordPress, Canva, Visual Studio Code, Github </li>
                <li>Soft Skills : Leadership, Writing, Public Speaking, Time Management </li>
            </ul>
        </div>
        <hr>
        <section>
            <h3>Internships</h3>
            <p><b>The Sparks Foundation</b>: (Web Developer) Work on web platform and used HTML, CSS, JavaScript </p>
        </section>
        <hr>
        <section>
            <h3>Projects</h3>
            <p><b>Online Voting System</b>: Work on voting System (Web Application) and used HTML, CSS, JavaScript, PHP
            </p>
            <p><b>Welfare Foundation</b>: Work on Web Application and used HTML, CSS, JavaScript to raise Funds for NGO
            </p>
        </section>
        <hr>
        <section>
            <h3>Course Work</h3>
            <ol>
                <li>DataStructures and Algorithms</li>
                <li>Computer Network </li>
                <li>Operating Systems</li>
                <li> OOP's </li>
                <li> DBMS </li>
            </ol>
            <hr>
            <h3>Languages</h3>
            <ul>
                <li>English</li>
                <li>Hindi </li>
            </ul>
        </section>
        <hr>
    </main>
    <footer>
        <p> <strong>Please Visit Our Company Channel </strong><a
                href="https://www.youtube.com/channel/UCCAQ_6QIs_50O70o5wh-BAQ">Ferns&Petals (FnP) </a> </p>
        <video controls width="450" height="350">
            <source type="video/webm"
                src="https://upload.wikimedia.org/wikipedia/commons/transcoded/1/18/Pauvre_Pierrot_%28Emile_Reynaud%2C_1892%29.webm/Pauvre_Pierrot_%28Emile_Reynaud%2C_1892%29.webm.360p.vp9.webm">
        </video>
    </footer>
</body>

</html>